html,
body {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    margin: 0;
    padding: var(--default-padding);
    background-color: var(--base-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}