page-section#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp {
    display: flex;
    justify-content: center;
    height: 75vw;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--accent-color);
}

#pfp img {
    object-fit: cover;
}

#outside-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--default-gap);
}

nav-unit h3 {
    color: var(--base-color);
    font-size: x-large;
}

nav-unit div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-unit-color);
    padding: var(--default-padding);
    border-radius: var(--default-radius);
}

nav-unit div img {
    width: 20%;
    height: 100%;
}