:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

#page-title,
#page-title>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title>* {
    margin: var(--default-margin);
}

#pfp {
    width: min-content;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--mantle-color);
}

#pfp img {
    object-fit: cover;
}

#greeting>* {
    margin: 0;
    text-align: center;
}

#arrow {
    /* TODO: make this more dynamic */
    width: 10%;
}