@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --contrast-color: #eff1f5;
    --base-color: #1e1e2e;
    --mantle-color: #181825;
    --crust-color: #11111b;
    --accent-color: #ea76cb;
    --default-padding: 1rem;
    --default-radius: 0.5rem;
    --default-gap: var(--default-padding);
}

html,
body {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    margin: 0;
    padding: var(--default-padding);
    background-color: var(--base-color);
}

/* Add accent color? */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a {
    color: var(--contrast-color);
}

h2,
h3,
h4,
p,
a {
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: xx-large;
}