@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --contrast-color: #eff1f5;
    --secondary-contrast-color: #ccd0da;
    --base-color: #1e1e2e;
    --mantle-color: #181825;
    --crust-color: #11111b;
    --accent-color: #a560ad;
    --secondary-accent-color: #e698cc;
    --default-padding: 1rem;
    --site-padding: calc(var(--default-padding) * 2);
    --default-radius: 0.5rem;
    --default-gap: var(--default-padding);
}

h1,
h2,
h3,
h4 {
    color: var(--contrast-color);
}

p,
figcaption {
    color: var(--secondary-contrast-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

span {
    color: var(--secondary-accent-color);
}

h2,
h3,
h4,
p,
a,
span,
figcaption {
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p,
figcaption,
a,
span {
    font-size: 1.25rem;
}