:root {
    --dark-color: black;
    --base-color: #eff1f5;
    --mantle-color: #e6e9ef;
    --crust-color: #dce0e8;
    --accent-color: hotpink;
    --default-padding: 1rem;
    --default-radius: 0.5rem;
    --default-gap: var(--default-padding);
}

html,
body {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    margin: 0;
    padding: var(--default-padding);
    background-color: var(--base-color);
}

/* Add accent color? */
a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
figcaption,
a {
    font-family: monospace;
    color: var(--dark-color);
}

h3 {
    font-size: x-large;
}