:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    --img-width: 1.5rem;
}

#project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: var(--default-gap);
    width: 100%;
}

project-unit {
    display: block;
    background-color: var(--mantle-color);
    padding: var(--default-padding);
    border-radius: var(--default-radius);
}

project-unit>* {
    gap: calc(var(--default-gap) / 2)
}

#project-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#project-title>*>*,
#project-title h3 {
    margin-block: 0;
}

#project-title a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--default-gap) / 2);
}

#project-title a svg {
    /* do this dynamically? */
    width: var(--img-width);
    height: 100%;
}

#short-desc {
    display: flex;
}

#stack {
    display: flex;
    align-items: center;
    gap: var(--default-gap)
}

#stack svg {
    width: calc(var(--img-width) * 2);
    height: 100%;
}

.collapsed {
    display: none !important;
}