@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-text-color: black;
    --light-text-color: #eff1f5;
    --accent-color: hotpink;
    --default-padding: 1rem;
    --default-radius: 0.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-padding);
}

#pfp {
    display: flex;
    justify-content: center;
    height: 50%;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--accent-color);
}

#pfp img {
    object-fit: cover;
}

#outside-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

nav-unit h3 {
    color: var(--light-text-color);
    font-size: x-large;
}

nav-unit div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-unit-color);
    padding: var(--default-padding);
    border-radius: var(--default-radius);
}

nav-unit div img {
    width: 20%;
    height: 100%;
}

/* Add accent color? */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
figcaption,
a {
    font-family: "IBM Plex Mono", monospace;
    color: var(--dark-text-color)
}